<div class="myContainer">
  <div class="card text-bg-primary m-5" style="max-width: 18rem; width: 20rem">
    <div class="card-header text-center">
      <h2>{{ city }}</h2>
      <p><img src="{{ iconUrl }}" alt="weather image" /></p>
    </div>
    <div class="card-body">
      <p class="card-text">Summary: {{ summary }}</p>
      <p class="card-text">Temperature: {{ temperature }} °C</p>
      <p class="card-text">Feels like: {{ feelsLikeTemp }} °C</p>
      <p class="card-text">Pressure: {{ humidity }} hPa</p>
      <p class="card-text">Humidity: {{ pressure }} %</p>
    </div>
  </div>
</div>
