<div class="search_input">
  <!-- <h1>Cerca per località</h1> -->
  <form (ngSubmit)="onSearch()">
    <div class="input-group">
      <input
        type="text"
        [(ngModel)]="city"
        name="city"
        class="form-control"
        placeholder="Search location here"
        aria-label="Search location here"
        aria-describedby="button-addon2"
      />
      <button class="searchBtn" type="submit" id="button-addon2">
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 24 24"
          height="3em"
          width="3em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g>
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path
              d="M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9-9-4.032-9-9 4.032-9 9-9zm0 16c3.867 0 7-3.133 7-7 0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7zm8.485.071l2.829 2.828-1.415 1.415-2.828-2.829 1.414-1.414z"
            ></path>
          </g>
        </svg>
      </button>
    </div>
  </form>
</div>

<!-- <div *ngIf="weatherData" class="myContainer">
  <div class="card text-bg-primary m-5" style="max-width: 18rem; width: 20rem">
    <div class="card-header text-center">
      <h2>{{ weatherData.name }}</h2>
      <img src="{{ iconUrl }}" alt="weather image" />
    </div>
    <div class="card-body">
      <p class="card-text">Summary: {{ weatherData.weather[0].main }}</p>
      <p class="card-text">Temperature: {{ weatherData.main.temp }} °C</p>
      <p class="card-text">Feels like: {{ weatherData.main.feels_like }} °C</p>
      <p class="card-text">Pressure: {{ weatherData.main.pressure }} hPa</p>
      <p class="card-text">Humidity: {{ weatherData.main.humidity }} %</p>
    </div>
  </div>
</div> -->
