<h1>Registrazione</h1>

<form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
  <input
    type="email"
    name="email"
    class="form-control"
    placeholder="Email"
    ngModel
    required
  />
  <!-- [(ngModel)]="formData.email" -->
  <input
    type="password"
    name="password"
    class="form-control"
    placeholder="Password"
    ngModel
    required
  />
  <!-- [(ngModel)]="formData.password" -->
  <button type="submit" class="btn btn-success" [disabled]="!signupForm.valid">
    Registrati
  </button>
  <!-- (click)="register()" -->
</form>
